@model WWTBAMGameViewModel
@{
    ViewData["Title"] = "Game Over";
}

<div class="text-center">
    <div class="row">
        <h3>
            <div>Game over</div>
            <div>If you answer a question incorrectly before reaching first safe haven on level 5 you loose everyting</div>
        </h3>
    </div>
</div>