@model WWTBAMGameViewModel
@{
    ViewData["Title"] = "You Win!";
}


<div class="text-center">
    <div class="row">
        <h1>Congratulations! You have won the final prize of @Model.CurrentPrizeValue$</h1>
    </div>
</div>